@import 'font.css';
@import 'splide.min.css';
@import 'media.css';

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    font-size: 17px;
    line-height: 1.3;
    color: #000;
    margin: 0;
    overflow-x: hidden;
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #000;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:active,
a:hover {
    outline: 0;
    color: #333;
}


img {
    border: 0
}


button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible;
    cursor: pointer;
    border: none;
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

textarea {
    overflow: auto
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

img {
    vertical-align: middle
}

.fw800 {
    font-weight: 800;
}

.fw700 {
    font-weight: 700;
}

.fw500 {
    font-weight: 500;
}

.fw400 {
    font-weight: 400;
}

.fw300 {
    font-weight: 300;
}

.big-text {
    line-height: 1.42;
    font-weight: 300;
}


.small-text {
    font-weight: 300;
}

.color-blue {
    color: #1B92D1
}

.color-white {
    color: #fff;
}

.bg-blue {
    background-color: #327CB9;
}

.bg-white {
    background-color: #fff;
}

.footer {
    color: #555454;
}

h1 {
    line-height: 1.15;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-weight: 700;
    text-align: center;
    color: #1B92D1;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h3 {
    font-weight: 700;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h4 {
    font-weight: 400;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h5 {
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}


.text-align-left {
    text-align: left;
}

.service-item-button {
    background-color: #FD931B;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-mini {
    width: 100%;
    margin: 0 auto;
}

@media (min-width:320px) {

    .container,
    .container-mini {
        padding: 0 20px;
    }
}

@media (min-width:1200px) {
    .container {
        padding: 0 15px;
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1360px;
    }

    .container-mini {
        max-width: 1150px;
    }
}

.nav-bar {
    margin: 0px;
    /* position: relative; */
}

.nav-bar .social-box img {
    width: 25px;
    height: 25px;
}


.main-menu {
    list-style: none;
    display: flex;
}

.nav-bar-box {
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 2em;
    /* padding: 13px 0px; */
}

.nav-bar-fixed {
    position: fixed;
    z-index: 2;
    top: 0px;
    transition: 0.2s top ease-in;
    background: #fff;
    width: 100%;
    max-width: 1360px;
    padding: 0 20px;
}

.nav-bar-box .social-box {
    display: none;
}

.nav-bar-background {
    height: 100px;
    display: none;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-bar-background-mobile {
    height: 50px;
}

.display-block {
    display: block;
}

.social-items {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.phone img {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

.phone {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 30px;
}

.call-button {
    background: linear-gradient(90deg, #FF9114 0%, #F49E3C 100%);
    box-shadow: -5px 7px 15px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    color: #fff;
    border-radius: 8px;
    text-align: center;
}

#nav-icon {
    display: none;
    height: 39px;
    position: fixed;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 102;
}


#nav-icon span {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    opacity: 1;
    /* right: 6px; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon.open span {
    background: #000;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2) {
    top: 12px;
}

#nav-icon span:nth-child(3) {
    top: 24px;
}

#nav-icon.open span:nth-child(1) {
    top: 14px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
    opacity: 0;
    right: -49px;
}

#nav-icon.open span:nth-child(3) {
    top: 14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* mobile menu */
.mobileMenu {
    background-color: #fff;
    padding: 25px 15px;
    z-index: 100;
    min-width: 21rem;
    width: 100%;
    margin-left: -100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    transition: all .4s;
    padding-top: 30px;
}

.mobileMenu.active {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

.mobileMenu ul {
    flex-direction: column;
    list-style: none;
}

.mobileMenu li {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    font-size: 22px;
    line-height: 30px;
    padding: 10px 0px;
}

.mobileMenu a {
    display: block;
}

@media (min-width:320px) {
    .nav-bar-box {
        display: none;
    }

    #nav-icon {
        display: inline-block;
        top: 10px;
        right: 10px;
        width: 30px;
    }

    .logo img {
        width: 45px;
        height: 45px;
    }

    .call-button {
        font-size: 12px;
        padding: 8px 0px;
        width: 130px;
    }

    #nav-icon span {
        height: 2px;
    }
}

@media (min-width:576px) {
    .mobileMenu {
        width: 100%;
    }

    .call-button {
        font-size: 14px;
        padding: 8px 0px;
        width: 200px;
    }

    #nav-icon {
        width: 39px;
    }

    #nav-icon span {
        height: 4px;
    }
}

@media (min-width:768px) {
    .nav-bar-box {
        display: flex;
    }

    .nav-bar-box .text {
        font-size: 14px;
    }

    .main-menu li {
        margin-right: 10px;
    }

    .main-menu {
        padding-inline-start: 20px
    }

    #nav-icon {
        display: none;
    }

    .logo img {
        width: 64px;
        height: 64px;
    }

    .nav-bar-box {
        padding: 13px 20px 13px 0px;
    }

    .call-button {
        font-size: 14px;
        padding: 8px 0px;
        width: 210px;
    }
}

@media (min-width:992px) {
    .main-menu li {
        margin-right: 20px;
    }

    .nav-bar-box .text {
        font-size: 17px;
    }
}

@media (min-width:1200px) {
    .nav-bar-box .social-box {
        display: block;
    }

    .main-menu li {
        margin-right: 35px;
    }
}

@media (min-width:1400px) {}


.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 61px;
}

.header span {
    color: #1B92D1;
}

.header .action-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 0 auto;
}

.action-box {
    padding: 34px 25px 34px 22px;
    border-radius: 12px;
    max-width: 1020px;
}

.action-box button {
    width: 300px;
    height: 42px;
    background: #FF9114;
    box-shadow: -5px 7px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

.action-box form {
    display: flex;
    justify-content: space-between;
}

input {
    width: 300px;
    height: 42px;
    background: #F1F1F1;
    box-shadow: -5px 7px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: none;
    color: #7E7676;
    font-size: 14px;
    padding: 17px 13px;
}



@media (min-width:320px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 13px;
    }

    .big-text {
        font-size: 16px;
    }

    .header-img-box {
        display: none;
    }

    section {
        margin: 20px 0px;
    }

    .header-box {
        background-position: right;
        padding: 50px 0px 0px;
    }

    .header-box .action-box {
        display: none;
    }
}

@media (min-width:576px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 19px;
    }

    h4 {
        font-size: 15px;
    }

    .big-text {
        font-size: 25px;
    }

    .header-content p {
        max-width: 90%;
    }

    .header-box {
        background-position: inherit;
    }
}

@media (min-width:768px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 23px;
    }

    h4 {
        font-size: 19px;
    }

    .big-text {
        font-size: 28px;
    }

    .header-content button {
        display: none;
    }

    section {
        margin: 30px 0px;
    }
}

@media (min-width:992px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    .big-text {
        font-size: 19px;
    }

    .header-content {
        max-width: 40%;
    }

    .header-content p {
        max-width: 100%;
    }

    .header-img-box {
        display: block;
    }

    .header-img-box img {
        width: 50vw;
        height: auto;
    }

    .header-box .action-box {
        display: block;
    }

    .header-box {
        padding: 50px 50px 0px;
    }

    section {
        margin: 40px 0px;
    }
}

@media (min-width:1200px) {
    .header-content {
        max-width: 400px;
        margin-right: 100px;
    }

    .header-img-box img {
        width: 600px;
        height: auto;
    }

    section {
        margin: 50px 0px;
    }
}

@media (min-width:1400px) {
    .header-content {
        max-width: 425px;
    }

    h1 {
        font-size: 49px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 21px;
    }

    .big-text {
        font-size: 19px;
        line-height: 1.42;
        font-weight: 300;
    }

    section {
        margin: 70px 0px;
    }

    .header-img-box img {
        width: 725px;
        height: 350px;
    }
}


.utp h2 {
    max-width: 958px;
    margin: 0 auto;
}

.utp-item {

    background: #FFFFFF;
    box-shadow: 0px 0px 100px rgba(198, 232, 242, 0.5);
    border-radius: 20px;

    position: relative;
}

.utp-item img {
    position: absolute;
}


@media (min-width:320px) {
    .utp-box {
        margin-top: 30px;
    }

    .utp-item {
        width: 100%;
        padding: 20px;
        margin-bottom: 50px;
    }

    .text {
        font-size: 14px;
    }

    .small-text {
        font-size: 12px;
    }

    .utp-item img {
        width: 35px;
        height: 35px;
        right: 20px;
        top: -15px;
    }
}

@media (min-width:576px) {
    .utp-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 60px;
    }

    .utp-item {
        width: 45%;
    }
}

@media (min-width:768px) {
    .utp-item img {
        width: 45px;
        height: 45px;
        position: absolute;
        top: -25px;
    }

    .utp-item {
        /* height: 175px; */
        /* width: 302px; */
        /* padding: 30px 40px; */
    }

    .text {
        font-size: 17px;
    }

    .small-text {
        font-size: 14px
    }

    .utp-title {
        height: 35px;
    }
}

@media (min-width:992px) {}

@media (min-width:1200px) {
    .utp-item {
        /* padding: 30px 40px; */
        width: 23%;
    }
}

@media (min-width:1400px) {
    .utp-item {
        padding: 30px 40px;
        width: 25%;
    }
}

.service-box-vertical .service-item-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px 30px 20px 20px;
    background: #5BA8EB;
}

.service-box-vertical .service-item {
    position: relative;
}

.service-item {
    border: 1px solid #939393;
    border-radius: 30px;
}

.service-box-vertical .service-item button {
    position: absolute;
    bottom: 20px;
}

.bg-yellow {
    background: #FFC982;
}

.service-box-horizontal {
    margin-top: 40px;
}

.service-box-horizontal .service-item-detail-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.service-box-horizontal .service-item-detail-box .service-item-detail-title {
    margin-top: 20px;
}

@media (min-width:320px) {
    .service-box-vertical {
        margin-top: 30px;
    }

    .service-box-vertical .service-item-title-box {
        padding: 15px;
    }

    .service-box-vertical .service-item-detail-box {
        padding: 20px 5px;
    }

    .service-box-vertical .service-item-detail-list {
        margin-top: 10px;
    }

    .service-item-button {
        font-size: 12px;
        padding: 10px 20px;
    }

    .service-box-vertical .service-item {
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

    .service-box-vertical img {
        display: none;
    }

    .service-item .text {
        font-size: 12px;
    }

    .service-box-horizontal .service-item {
        padding: 20px;
        margin-bottom: 20px;
    }

    .service-box-horizontal button {
        margin-top: 20px;
    }

    .service-box-horizontal .service-item img {
        display: none;
    }

    .service-box-vertical .service-item button {
        left: 20px;
    }
}

@media (min-width:576px) {}

@media (min-width:768px) {
    .service-box-vertical {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .service-box-vertical .service-item-title-box {
        padding: 20px 30px;
    }

    .service-box-vertical .service-item-detail-box {
        padding: 20px 46px;
    }

    .service-box-vertical .service-item-detail-list {
        margin-top: 30px;
    }

    .service-box-vertical .service-item-detail-title {
        height: 42px;
    }

    .service-item-button {
        font-size: 16px;
        padding: 15px 30px;
    }

    .service-box-vertical .service-item {
        max-width: 45%;
        padding-bottom: 80px;
    }

    .service-box-vertical img {
        display: block;
    }

    .service-box-horizontal .service-item {
        display: flex;
        justify-content: space-between;
        padding: 50px 46px;
        margin-bottom: 35px;
    }

    .service-box-horizontal .service-item-title-box {
        max-width: 40%;
        width: 100%;
    }

    .service-box-horizontal button {
        margin-top: 40px;
    }

    .service-box-horizontal .service-item img {
        display: block;
    }

    .service-box-vertical .service-item button {
        left: 40px;
    }
}

@media (min-width:992px) {
    .service-box-vertical .service-item-detail-list {
        margin-top: 5px;
    }
}

@media (min-width:1200px) {}

@media (min-width:1400px) {
    .service-box-vertical .service-item-detail-title {
        height: 60px;
    }

    .service-box-horizontal .service-item-title-box {
        max-width: 50%;
        width: 100%;
    }
}

.action-middle img {
    position: absolute;
}

.action-middle-box h2 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.action-middle {
    margin-top: 100px;
}

@media (min-width:320px) {
    .action-middle img {
        width: 200px;
        top: -30%;
        right: -30px;
    }

    .action-middle-box {
        padding: 20px 10px;
        position: relative;
    }

    .action-middle-box .action-box {
        padding: 10px;
        margin-top: 20px;
    }

    .action-middle-box .action-box form {
        display: block;
    }

    .action-middle-box .action-box form input {
        width: 100%;
        margin-bottom: 10px;
        height: 25px;
        font-size: 12px;
    }

    .action-middle-box .action-box form button {
        width: 100%;
        font-size: 14px;
    }

}

@media (min-width:576px) {
    .action-middle img {
        width: 250px;
    }
}

@media (min-width:768px) {
    .action-middle-box .action-box form {
        display: flex;
    }

    .action-middle-box .action-box form input {
        width: 100%;
        margin-right: 10px;
        margin-bottom: 0px;
        height: 30px;
        font-size: 14px;
    }

    .action-middle img {
        width: 280px;
        top: -50%;
    }
}

@media (min-width:992px) {
    .action-middle img {
        width: 400px;
        top: -60%;
    }
}

@media (min-width:1200px) {
    .action-middle img {
        width: 500px;
        top: -50%;
    }

    .action-middle-box {
        padding: 40px;
    }

    .action-middle-box .action-box {
        padding: 25px;
        margin-top: 40px;
    }
}

@media (min-width:1400px) {}

.brands h5 {
    text-align: center;
}

.brands-box {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.brands-box .brand-item {
    margin-right: 15px;
}

.brands {
    overflow: hidden;
}

.first-item {
    background-color: #EDF5FF;
}



@media (min-width:320px) {
    .regular-service-item {
        background-color: #FFF7EB;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 30px;
        /* text-align: center; */
    }

    .regular-service-item img {
        width: 200px;
        height: auto;
        margin: 10px;
    }
}

@media (min-width:576px) {
    .regular-service-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .regular-service-item-text {
        width: 50%;
    }

    .regular-service-item img {
        width: 250px;
        margin: 20px;
    }
}

@media (min-width:768px) {}

@media (min-width:992px) {
    .regular-service-item img {
        width: 350px;
        margin: 20px;
    }
}

@media (min-width:1200px) {
    .regular-service-item {
        padding: 30px;
    }
}

@media (min-width:1400px) {}

.works-item-title {
    margin-bottom: 18px;
}

.works-item-ico {
    position: absolute;
    border-radius: 7px;
    background-color: #44B9F6;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 8px 0px;
    color: #fff;
    top: -20px;
    right: 20px;
}

.works-item:nth-child(2) .works-item-ico {
    background-color: #E964FF;
}

.works-item:nth-child(3) .works-item-ico {
    background-color: #FF7A7A;
}

@media (min-width:320px) {
    .works-box {
        margin-top: 50px;
    }

    .works-item {
        box-shadow: 1px 1px 100px rgba(198, 232, 242, 0.5);
        border-radius: 20px;
        border: 0.5px solid #e5e5e5;
        width: 100%;
        padding: 20px;
        position: relative;
        margin-bottom: 25px;
    }
}

@media (min-width:576px) {}

@media (min-width:768px) {
    .works-box {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }

    .works-item {
        width: 302px;
        padding: 20px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
}

.present-box {
    display: flex;
    align-items: center;
}

.present-box form {
    display: block;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 680px !important;
    width: 100%;
}

.present-box form button {
    width: 100%;
    height: 55px;
}

.input-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.iput-box input {
    width: 300px;
}

.present-box img {
    width: 448px;
    height: 100px;
    position: absolute;
    left: -150px;
    bottom: -100px;
}

.present-content {
    position: relative;
    margin-right: 50px;
}

.information {
    padding: 55px 0px;
}

.information-box {
    display: flex;
    justify-content: space-between;
}

.information-item {
    width: 289px;
    height: 198px;
    border-radius: 20px;
    padding: 40px;
    position: relative;
}

.information-item img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 48%;
    top: -8px;
}

.information-title {
    height: 35px;
    margin-bottom: 16px;
}

.action-footer img {
    height: 456px;
    width: 100%;
}

.action-footer .block {
    position: relative;
}

.action-footer-back-box {
    width: 950px;
    height: 390px;
    position: absolute;
    left: 241px;
    top: 100px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    padding: 26px 27px 0px;
}

.action-footer-box {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 74px 50px 50px;
    text-align: center;
}

.action-footer form {
    display: block;
}

.action-footer button {
    width: 100%;
    height: 55px;
}

.action-footer input {
    width: 48%;
}

.yandex-map {
    position: relative;
}

.map-box {
    position: absolute;
    width: 482px;
    height: 286px;
    left: 80px;
    top: 100px;
    background: #fff;
    border: 1px solid #F9F9F9;
    text-align: center;
    padding: 45px 35px;
}

.map-box .phone {
    margin: 30px 0px;
}

.map-box a {
    text-decoration: underline;
}

.map-box .phone a {
    color: #FD931B;
    margin: 0 auto;
    font-size: 23px;
    text-decoration: none;
}

.map-box .social-box a img {
    height: 40px;
    width: 40px;
}

.map-box .social-box a {
    text-decoration: none;
}

.splide__slide {
    display: flex;
    align-items: center;
}

.splide__slide img {
    width: 150px;
    margin: 0 auto;
}

.splide {
    margin: 30px 0px;
}

/* MEDIA */


/* burger menu icon */

.faq-main {
    padding: 0px 50px;
    position: relative;
}

.faq {
    display: flex;
    align-items: center;
}


.faq-title {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.faq-title h4 {
    width: 90%;
}

.faq.opened .faq-status {
    display: none;
}

.faq .faq-ico-open {
    display: none;
}

.faq.opened .faq-ico-open {
    display: block;
}


.faq.opened .faq-ico-close {
    display: none;
}

.faq-info {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all .3s;
}

.faq.opened .faq-info {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: all .3s;
}

.faq-container {
    padding: 25px 0px;
    border-top: 1px solid #D7D7D7;
}

/* yandex карта */
#map {
    height: 530px;
}

.yandex-map {
    height: 530px;
}


/* модальное окно */
.modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    height: 0vh;
    background-color: transparent;
    transition: background-color .25s ease;
    align-items: center;
    justify-content: center;
}

.modal.open {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color .25s;
}

.modal.open>.content-wrapper {
    background: #4a62c5;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.modal .content-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #4a62c5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 2.5rem rgba(0, 0, 0, .5);
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, .5);
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    -o-transition: transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s;
    -webkit-transition-delay: .15s;
    -o-transition-delay: .15s;
    transition-delay: .15s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.modal-wrap {
    background: #fff;
    border-radius: 10px;
}

.modal .content-wrapper .close {
    position: absolute;
    z-index: 99;
    top: .5rem;
    right: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    -webkit-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal .content-wrapper .close:before,
.modal .content-wrapper .close:after {
    position: absolute;
    width: 1.25rem;
    height: .125rem;
    content: '';
    cursor: pointer;
    background-color: #000;
}

.modal .content-wrapper .close:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal .content-wrapper .close:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal .content-wrapper .close:hover:before,
.modal .content-wrapper .close:hover:after {
    background-color: #3E3E3E;
}

.modal .content-wrapper .content {
    max-width: 600px;
    display: block;
    padding: 40px;
}

/* это для старых iphone 5 */
@media screen and (device-aspect-ratio: 40/71) {
    .modal .content-wrapper .close {
        top: 0.4rem;
        background: #fff;
        border-radius: 50%;
        right: 0.6rem;
    }
}

.blur>div:not(.modal),
.blur footer {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}